.scrollbar
	position: absolute
	right: 5px
	width: 5px
	top: 10px
	bottom: @top
	background: rgba(#fff, .1)
	border-radius: 3px
	cursor: pointer

	&__track
		background: #fff
		opacity: .3
		min-height: 25px
		height: 0
		border-radius: 3px
		position: relative
		transition: opacity .15s $animations.swifter, height .15s $animations.swifter
		user-select: none

		&:hover
		&_active
			opacity: .8